.hero {
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=1600");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  color: white;
}

.overlay {
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;

  width: 45%;

  margin-left: 60px;

  z-index: 2;
}

.hero-content h1 {

  font-size: 4rem;

  margin-bottom: 20px;
}

.hero-content p {

  font-size: 18px;

  line-height: 1.6;

  margin-bottom: 30px;
}

.hero-buttons {

  display: flex;

  gap: 20px;
}

.play-btn {

  background: white;

  color: black;

  border: none;

  padding: 12px 30px;

  font-size: 18px;

  cursor: pointer;

  border-radius: 5px;

  font-weight: bold;
}

.play-btn:hover{
    background:#ddd;
}

.info-btn{

  background:rgba(109,109,110,.7);

  color:white;

  border:none;

  padding:12px 30px;

  font-size:18px;

  cursor:pointer;

  border-radius:5px;
}

.info-btn:hover{
    background:rgba(109,109,110,.4);
}